#
# Copy this file to .envrc and add your test values, then source the .envrc
# script to export all environment variables to the current shell.
#
#     $ . .envrc
#
export TEST_PROXMOX_TEMPLATE_NAME=
export TEST_PROXMOX_TEMPLATE_VMID=
export TEST_PROXMOX_PORT=
export TEST_PROXMOX_USER=
export TEST_PROXMOX_SSH_IDENTITY_FILE=
export TEST_PROXMOX_PASSWORD=
export TEST_PROXMOX_SSH_USER=
export TEST_PROXMOX_NODE=
export TEST_PROXMOX_HOST=
export TEST_PROXMOX_SECRETS_FILE=
export TEST_PROXMOX_TOKEN_ID=
export TEST_PROXMOX_TOKEN_SECRET=
export TEST_PROXMOX_SECRETS_SCRIPT=
export TEST_PROXMOX_CLOUDINIT=
export TEST_PROXMOX_DEBUG="false"
export TEST_PROXMOX_CLOUDINIT=
export TEST_PROXMOX_NAMESERVER=
